<html lang ="ja">
  <head>
    <meta charset="utf-8">
    <title>Hello Vue.js</title>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div id="app">
      <h2>TODO List</h2>
      <h2>Computed</h2>
      <ol>
        <li>
            {{ computedNumber }}
        </li>
        <li>
            {{ computedNumber }}
        </li>
        <li>
            {{ computedNumber }}
        </li>
      </ol>
      <h2>Methods</h2>
        <ol>
          <li>{{ methodsNumber() }}</li>
          <li>{{ methodsNumber() }}</li>
          <li>{{ methodsNumber() }}</li>
        </ol>
      <p>
        base price: <input type="text" v-model="basePrice"></br>
        tax included price: <input type="text" v-model="taxIncludedPrice">
      </p>
      <p>
        {{ price | numberFormat }}
      </p>
      <a v-bind:href="url">
        LINK1
      </a>
      <a :href="url">
       LINK2
      </a>
      <p>
        {{ jpyPrice | toUSD | numberFormat }}
      </p>
      <p>
        {{ text | readMore }}
      </p>
      <p>
        <input type="text" v-bind:value="price | numberFormat">
      </p>
      <p>
        {{ message }}
      </p>
      <p>
        {{ number + 1 }}
      </p>
      <p>
        {{ message.split('').reverse().join('') }}
      </p>
      <p>
        {{ reversedMessage }}
      </p>
      <p>
        {{ ok ? 'YES' : 'NO' }}
      </p>
      <form v-on:submit.prevent>
        <input type="text" v-model="newItem">
        <button v-on:click="addItem">
          Add
        </button>
      </form>
      <ul>
        <li v-for="(todo, index) in todos">
          <input type="checkbox" v-model="todo.isDone">
          <span v-bind:class="{ done: todo.isDone }">{{ todo.item }}</span>
          <button v-on:click="deleteItem(index)">
            Delete
          </button>
        </li>
      </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="js/main.js"></script>
  </body>
  </html>
</html>